@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/poppins/Poppins-Regular.ttf"); }
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/poppins/Poppins-SemiBold.ttf"); }
html, body {
  height: 100%;
  width: 100%;
  color: #222;
/*  padding: 1px;*/
}
.navbar {
  padding: 5px; /*1 rem=16px*/
  background-color: #2e292c !important;
}
.navbar .sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-nav li {
  padding-right: 20px;
}
.navbar-nav a:hover {
     background-color: #7a64b0!important;
      border-radius: 10%;
   }
.nav-link {
  font-size: 1.1em !important;
    color: white!important;
}
}
/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
  background-color: #7a64b0;
  border-radius: 0;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel {
  width:100%;
  height:90%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;/*horizontal, vertical, width and color*/
  padding-bottom: 1rem;
}
.btn-primary {
  background-color: #6648b1;
  border: 1px solid #6648b1;
}
.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}
.btn-outline-secondary {
  background-color: #6648b1;
  border: 1px solid #6648b1;
  color: #fff;
}
.btn-outline-secondary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}
.jumbotron {
  margin-top: 4rem;
  padding-top: 4rem;
  border-radius: 0;
}
.jumbotron hr {
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.jumbotrn {
  margin-top: 8rem;
  padding-top: 2rem;
  border-radius: 0;
}
.jumbot {
  margin-top: 1rem;
  padding-top: 1rem;
  border-radius: 0;
}
.jumbo {
/*  margin-top: 1rem;*/
/*  padding-top: 1rem;*/
/*  padding-bottom: 1rem;*/
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0;
  background-color: #a283e6;
}
.jumbo hr {
  border-top: 2px solid #000000;
  width: 50%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.jumb {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0;
  background-color: #a283e6;
}
.jumb .img-fluid {
  padding-top: .1rem;
  width: 100%;
  height: 50%;
}
.jumb hr {
  border-top: 2px solid #000000;
  width: 73%;
  margin-left: 0;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.jumt {
  margin-top: 1rem;
  padding-top: 1rem;
  border-radius: 0;
  margin-right: 2rem;
  margin-left: 2rem;
}
.jumt h1 {
  color: #6648b1;
  text-align: center!important;
}

.jumt hr {
  border-top: 2px solid #6648b1;
  width: 100%;
  margin-left: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.padding {
  padding-bottom: 1rem;
  margin-bottom: 0;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #6648b1;
  width: 50%;
  margin-top: .3rem;
  margin-bottom: 1rem;
  color: #7a64b0;
}


.row grid{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
    -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.column img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}




/*.blog{
  margin: 0 auto;
  padding-top: .1rem;
  padding-bottom: 1rem;
}*/
.crd{
  height: 400px;
  width: 350px;
  border-radius: 10%;
  margin: 1rem;
}
.crd:hover{
    cursor: pointer;
    opacity: 0.8;
    bottom: 4px;
}
.crd-img-top{
  width: 400px;
  height: 250px;
  border-radius: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
/*  padding-top: .5rem; */
}
.crd-img {
  width: 400px;
  height: 400px;
  border-radius: 50%; 
  display: block;
/*  margin-top: 2rem;*/
  margin-left: auto;
  margin-right: auto;
  }
  .crd-body h2{
    color: #6648b1;
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
  }

.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}
.fa-css3 {
  color: #2163af;
}
.fa-code, .fa-bold, .fa-css3 {
  font-size: 4em;
  margin: 1rem;
}
.card{
  height: 480px;
  width: 350px;
  border-radius: 10%;
  margin: 1rem;
}
.kard{
  height: 530px;
  width: 350px;
  border-radius: 10%;
  margin: 1rem;
  background-color: #ffffff;
}
.card:hover{
    cursor: pointer;
    opacity: 0.8;
    bottom: 4px;
}
.card-img-top{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem; 
}
.card-img {
  width: 400px;
  height: 400px;
  border-radius: 50%; 
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  }

.card-body span{
    color: #6648b1;
    display: block;
    font-weight: bold;
  }



.fun {
  width: 100%;
  margin-bottom: 2rem;
}
.gif{
  max-width: 100%;
}
.social a {
  font-size: 2em;
  padding: 1rem;
}
.social a:hover{
    cursor: pointer;
    opacity: 0.8;
    bottom: 4px;
  }
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-google-plus-g {
  color: #dd4b39;
}
.fa-instagram {
  color: #517fa8;
}
.fa-youtube {
  color: #bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover, 
.fa-youtube:hover, {
  color: #d5d5d5; 
}
/*Scroll to up btn*/
.scroll {
    color: #fff;
    margin-top: 100px
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    border-radius: 50%;
    background-color: rgb(134, 18, 196);

}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}

.table{
  padding: 1rem;
  border: 3px solid #6648b1;
}

/*.height {
    height: 3000px
}*/


/*search bar*/

footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: .5rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}



/*---Media Queries (To enable carousel display in all devices)--*/
@media (max-width: 992px) {
.social a {
  font-size: 4em;
  padding: 2rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption {
  top: 45%;
}
.carousel-caption h1 {
  font-size: 350%;
}
.carousel-caption h3 {
  font-size: 140%;
  font-weight: 400;
  padding-bottom: .2rem;
}
.carousel-caption btn{
  font-size: 95%;
  padding: 8px 14px;
}
.display-4 {
  font-size: 100%; 
}
.social a {
  font-size: 2.5em;
  padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
  top: 40%;
}
.carousel-caption h1 {
  font-size: 250%;
}
.carousel-caption h3 {
  font-size: 110%;
}
.carousel-caption btn{
  font-size: 90%;
  padding: 4px 8px;
}
.carousel-indicators {
  display: none;
} 
.display-4 {
  font-size: 160%; 
}
.social a {
  font-size: 2.em;
  padding: .7rem;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/m7.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
/*This code overrides the columns that are scoped to only the first children columns. 
This allows  column padding to be further customized with spacing utilities.*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








